.container div {
	display: flex;
	gap: 2rem;
	margin-top: 5px;
	width: 100%;
}

.select {
	width: 100%;
}

.submit-button {
	border-radius: 20px;
	margin-top: 2rem;
	width: 100%;
	background: linear-gradient(to right, #fd1557, #fd7915);
}

.checkbox {
	padding-top: 1rem;
}

.image {
	display: flex;
	gap: 0.5rem;
	height: 1rem;
}
