.card {
	display: flex;
	width: 918px;
}

.top-card {
	width: 918px;
	padding: 0px;
	padding-bottom: 5rem;
	padding-right: 2rem;
	background-color: #0090f0;
	display: flex;
	justify-content: space-between;
	gap: 2rem;
	height: 64px;
}

.top-card li,
.top-card p {
	margin: 0;
	display: flex;
	color: white;
	font-size: 14px;
	list-style: none;
}

.bottom-card {
	min-height: 119px;
}

.left {
	display: flex;
	gap: 1rem;
	width: 150px;
}

.item {
	display: flex;
	gap: 5rem;
	align-items: center;
	margin-top: 1rem;
}
