.card {
	min-height: 322.71px;
	height: 481px;
	width: 322px;
	position: relative;
}

.cardContent {
	padding: 1rem;
}

.cardContent:last-child {
	padding-bottom: 0.3rem;
}

.price {
	margin-top: 1rem;
	height: 50px;
}

.buttons {
	position: absolute;
	bottom: 0;
}
