.card {
	width: 360px;
	border: 1px solid #eb4e4c;
}

.top-card {
	background-color: #eb4e4c;
	height: 90px;
	/* height: 100%; */
	display: flex;
	align-items: center;
	gap: 1rem;
	color: white;
}

.bottom-card {
	height: 90px;
	display: flex;
	justify-content: center;
}
