.footer {
	margin-top: auto;
}

.footer-content {
	display: grid;
	min-height: 400px;
	grid-template-columns: repeat(6, minmax(0, 1fr));
	grid-template-rows: 1fr;
	grid-row-gap: 6rem;
	padding: 2rem 5rem;
	width: 100%;
}

.footer-content h6 {
	font-weight: bold;
}

.footer svg {
	color: #fd1557;
	font-size: 50px;
}

.first-column,
.second-column,
.third-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.fourth-column-container {
	display: flex;
	justify-content: center;
	grid-column: span 1.5;
}

.fourth-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-cent;
	gap: 3rem;
}

.fifth-column {
	display: grid;
	grid-column: -2 / -1;
	grid-column: span 1.5;
	height: 300px;
}

.fifth-column-icon {
	display: flex;
	justify-content: center;
	width: 100%;
}

.fifth-column-text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.alert {
	height: 50px;
}
.alert svg {
	color: green;
}

.fifth-column {
	width: 100%;
}

.fifth-column-social {
	display: flex;
	justify-content: center;
}

.fifth-column div svg {
	font-size: 34px;
}

.fifth-column-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.textfield {
	border-radius: 4vmax;
	background-color: white;
}

.input {
	border-radius: 4vmax;
	height: 40px;
	min-width: 250px;
	max-width: 350px;
	padding: 1rem;
	border: 1px solid gray;
}

.input-button {
	position: absolute;
	margin-left: -55px;
	height: 40px;
	width: 50px;
}

.input:focus {
	outline: none;
	border: 1px solid #fd1557;
}

.copyright {
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 1200px) {
	.footer-content {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

@media screen and (max-width: 740px) {
	.footer-content {
		grid-template-columns: minmax(0, 1fr);
	}
}

@media screen and (max-width: 568px) {
	.footer-content {
		grid-template-columns: minmax(1, fr);
	}
}
