.main {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.footer {
	margin-top: auto;
	display: grid;
}

.footer-content {
	min-height: 400px;
	padding: 2rem 5rem;
	display: grid;
	min-width: 100%;
}

.footer-content h6 {
	font-weight: bold;
}

.footer-grid {
	display: grid;
	grid-template-columns:
		minmax(300px, 1fr)
		repeat(auto-fill, 280px);
	grid-template-rows: 250px;
	grid-row-gap: 6rem;
	justify-content: center;
}

.first-column {
	display: grid;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}

.footer svg {
	color: #fd1557;
	font-size: 50px;
}

.second-column {
	display: grid;
	justify-content: center;
	align-items: center;
}

.third-column {
	display: grid;
	justify-content: center;
	align-items: center;
}

.fourth-column {
	display: grid;
	justify-content: center;
	align-items: center;
}

.fifth-column {
	display: grid;
	height: 300px;
}

.fifth-column-icon {
	display: flex;
	justify-content: center;
}

.fifth-column-text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.alert {
	height: 50px;
}
.alert svg {
	color: green;
}

.fifth-column-social {
	display: flex;
	justify-content: center;
}

.fifth-column div svg {
	font-size: 34px;
}

.fifth-column-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.textfield {
	border-radius: 4vmax;
	background-color: white;
}

.input {
	border-radius: 4vmax;
	height: 40px;
	width: 350px;
	padding: 1rem;
	border: 1px solid gray;
}

.input-button {
	position: absolute;
	margin-left: -55px;
	height: 40px;
	width: 50px;
}

.input:focus {
	outline: none;
	border: 1px solid #fd1557;
}

.copyright {
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 568px) {
	.footer-grid {
		display: grid;
		grid-template-columns:
			minmax(200px, 200px)
			repeat(auto-fill, 180px);
		grid-template-rows: 330px;
		grid-row-gap: 6rem;
		grid-column-gap: 1rem;
		justify-content: center;
	}
}
