.layout {
	height: 100vh;
	max-width: 100vmax;
}

.searchbar {
	display: flex;
	justify-content: center;
	background: linear-gradient(to right, #46aef8, #1dd4e6);
}

@media all and (min-width: 640px) {
	.searchbar {
		display: none;
	}
}

@media all and (max-width: 480px) {
	.leftSide {
		display: flex;
		gap: 0;
		align-items: center;
	}
}

@media all and (min-width: 481px) {
	.leftSide {
		display: flex;
		gap: 0;
		align-items: center;
	}
}
