.layout {
	height: 100vh;
}

@media all and (max-width: 480px) {
	.leftSide {
		display: flex;
		gap: 0;
		align-items: center;
	}
}

@media all and (min-width: 481px) {
	.leftSide {
		display: flex;
		gap: 0;
		align-items: center;
	}
}
