.layout {
	width: 100vmax;
}

@media all and (max-width: 480px)  {
	.searchbar {
		display: flex;
	}
	.leftSide {
		display: flex;
		gap: 0;
		align-items: center;
	}
}

@media all and (min-width: 481px) {
	.searchbar {
		display: none;
	}
	.leftSide {
		display: flex;
		gap: 0;
		align-items: center;
	}
}
