.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 15px;
	height: 82px;
	background: linear-gradient(to right, #46aef8, #1dd4e6);
}

.leftSide {
	display: flex;
	gap: 2rem;
	align-items: center;
}

.navbar a {
	color: #005ef5;
}

.leftSide a:first-child {
	margin-top: 18px;
}

.navbar-items {
	list-style-type: none;
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: space-between;
}

.searchbar {
	display: flex;
	justify-content: center;
}

.login {
	display: flex;
	align-items: center;
	gap: 5px;
}
.account-button {
	text-transform: capitalize;
}

.account-button:hover {
	text-transform: capitalize;
	text-decoration: underline;
}

.hamburger {
	margin-right: 2rem;
}
/* 
@media all and (min-width: 0px) and (max-width: 480px) {
	.leftSide {
		width: 300px;
	}
}

@media all and (max-width: 1200px) {
	.leftSide {
		width: 300px;
		gap: 0rem;
	}
} */
