.navbar {
	background-color: #0090f0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 15px;
	height: 100px;
	color: white;
}

.navbar a:hover {
	color: #0090f0;
}

.leftSide {
	display: flex;
	gap: 2rem;
	align-items: center;
}
.navbar-items {
	list-style-type: none;
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: space-between;
}

@media all and (min-width: 0px) and (max-width: 480px) {
	.leftSide {
		width: 300px;
	}
}
