.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 15px;
	height: 82px;
	background: linear-gradient(to right, #46aef8, #1dd4e6);
	width: 100%;
}

.leftSide {
	display: flex;
	gap: 2rem;
	align-items: center;
}

.navbar a {
	color: #fff;
}

.leftSide a:first-child {
	margin-top: 18px;
}

.navbar-items {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
}

.login {
	display: flex;
	flex-direction: column;
	margin-right: 0.5rem;
}
.searchbar {
	width: 100%;
	display: flex;
	justify-content: center;
}

.login {
	display: flex;
	align-items: center;
	gap: 5px;
}
.account-button {
	text-transform: capitalize;
}

.account-button:hover {
	text-transform: capitalize;
	text-decoration: underline;
}

.button-root {
	min-width: 0;
	padding: 0;
	color: white;
}

.hamburger {
	margin-right: 2rem;
}

@media all and (max-width: 480px) {
	/* .searchbar {
		display: none;
	} */
	.leftSide {
		display: flex;
		gap: 0;
		align-items: center;
	}
}
