.main {
	width: 400px;
	background: linear-gradient(to right, #46aef8, #1dd4e6);
}
.input {
	border-radius: 20px;
	background-color: white;
}

@media all and (min-width: 911px) and (max-width: 1024px) {
	.main {
		width: 400px;
	}
}

@media all and (min-width: 481px) and (max-width: 910px) {
	.main {
		width: 250px;
	}
}

@media all and (min-width: 0px) and (max-width: 480px) {
	.main {
		width: 200px;
	}
}

@media all and (max-width: 480px) {
	.main {
		width: 100%;
	}
}
