.title {
	padding-top: 3rem;
	color: #1878b9;
	margin-left: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	padding-top: 3rem;
	display: grid;
	grid-template-columns:
		minmax(180px, 280px)
		repeat(auto-fill, 280px);
	justify-content: center;
	gap: 8rem;
}

@media screen and (max-width: 852px) {
	.container {
		grid-template-columns: 250px;

		gap: 2rem;
	}

	.title {
		font-size: 30px;
	}
}

@media all and (max-width: 840px) {
	.container {
		gap: 2rem;
	}
}
