.container {
	padding-top: 5rem;
	flex-direction: column;
	display: flex;
	justify-content: center;
	gap: 2rem;
}

.error-message {
	display: flex;
	justify-content: center;
	padding-top: 5rem;
}

.title {
	display: flex;
	justify-content: center;
}

.add-address-card {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 275px;
	min-height: 199.02px;
	border: 1px solid #b7b9bb;
	border-radius: 8px;
}

.add-address-card button {
	font-size: 20px;
}

.cards-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(275px, 275px));
	grid-gap: 2rem;
	justify-content: center;
}

.cards {
	word-wrap: break-word;
	width: 277px;
	min-height: 199.02px;
}

.no-cards {
	display: none;
}

.form {
	display: flex;
	justify-content: center;
	padding-bottom: 6rem;
}

.no-form {
	display: none;
}
