.container {
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 5rem;
	height: 100vh;
	width: 100%;
}

.no-order-message {
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 1000px) {
	.card {
		overflow: scroll;
	}
}
