.container {
	text-align: center;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to right, #46aef8, #1dd4e6);
}

.logo {
	height: 40vmin;
	pointer-events: none;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
}
.link {
	color: rgb(112, 76, 182);
}

.second-section {
	padding-top: 2rem;
	display: flex;
	justify-content: center;
	gap: 3rem;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.third-section-title {
	padding-top: 5rem;
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.third-section {
	padding-top: 4rem;
	display: grid;
	grid-template-columns: minmax(300px, 300px) repeat(auto-fit, 300px);
	grid-column-gap: 4rem;
	grid-row-gap: 2rem;
	justify-content: center;
	flex-wrap: wrap;
}
